# Chapter 2: Variables, expressions and statements

This notebook covers basic concepts of variables, expressions, statements, and types in Python.

## Values and Types
A value is one of the basic things a program works with, like a letter or a number. The values can be numbers like 1, 2, 3.5, or letters like `"Hello, World!"`

These values belong to different types: 2 is an integer, 3.5 is a float, that allows for decimal numbers and more precise calculations, and `"Hello, World!"` is a string, so called because it contains a string of letters. You (and the interpreter) can identify strings because they are enclosed in quotation marks.

In [1]:
4

4

In [2]:
3.5

3.5

In [3]:
'Hello, World!'

'Hello, World!'

Integer types are whole numbers. They include both negative and positive numbers, so there are a lot of them. Integer is often shortened to "int" for convenience.

In [4]:

type(4)  # Check the type of an integer

int

In [5]:
print(-1024)
print(-55)
print(0)
print(1)
print(13)
print(1737)

-1024
-55
0
1
13
1737

When numbers have decimals, we call them float types. The decimal is what distinguishes floats and integers. Remember: if a number has a period in it, then it is a float! Even if a number seems to be a whole number, Python will consider the number to be a float so long as there is a decimal somewhere in the number.

In [6]:

type(3.5)  # Check the type of a float

float

In [7]:
print(-56.4)
print(-1.0)
print(.0)
print(0.5)
print(1.02)
print(100.)

-56.4
-1.0
0.0
0.5
1.02
100.0

Text data is represented using string values. The tricky thing about strings is that anything can be stored as a string. The only thing that makes it a string is the quotes. A special case is the "empty string," which is a pair of quotes with nothing inside. String is often shorted to "str" for convenience.

In [8]:
type('Hello, World!')  # Check the type of a string

str

In [9]:
print("My name is Anna")
print("")
print('Doggo')
print("Four score and seven years ago...")

My name is Anna

Doggo
Four score and seven years ago...

Values like `'17'` and `'3.2'` look like numbers, but they are in quotation marks like strings.

In [10]:
type('17')  # Check the type of a string

str

In [11]:
type('3.2')  # Check the type of a string

str

Surprisingly often in programming, we are faced with "yes or no" values. These two values are referred to as Boolean values. Specifically, we have a True and a False value. Note that the T and F are capitalized, and there are no quotes around the words. Booleans are different from strings! Boolean is often shortened to "bool" for convenience.

In [12]:
type(True)

bool

Sometimes, you need to represent the absence of value, which we call "None." The None type is a special type that has only one value. The None type can be hard to wrap your head around, so we'll save that one for later. For now, just remember that it has a capital N and no quotes.

In [13]:
type(None)

NoneType

## Printing Values
Once we have put data into the computer as values, we need to do something with those values. A very simple action is to print the values. Soon, we will learn more complex actions. Review these examples of how we can write literal values and then print them using your editor on the right side of the screen.

In [14]:
print(74)
print(23.4)
print("Hello world")

74
23.4
Hello world

When you type a large integer, you might be tempted to use commas between groups of three digits, as in `1,000,000`. This is not a legal integer in Python.

In [15]:
print(1,000,000)  # This will not print what you expect

1 0 0

## Variables
A variable is a name that refers to a value. An assignment statement creates new variables and gives them values.

In [16]:
message = 'And now for something completely different'
print(message)
type(message)

And now for something completely different

str

In [17]:
n = 17
print(n)
type(n)

17

int

In [18]:
pi = 3.1415926535897931
print(pi)
type(pi)

3.141592653589793

float

## Variable Names and Keywords
Variable names can be arbitrarily long. They can contain both letters and numbers, but they cannot start with a number. It is legal to use uppercase letters, but it is a good idea to begin variable names with a lowercase letter. Keywords cannot be used as variable names.

In [19]:
# Examples of legal and illegal variable names
legal_variable = 42
76trombones = 'big parade'  # Illegal: starts with a number
more@ = 1000000  # Illegal: contains an illegal character
class = 'Advanced Theoretical Zymurgy'  # Illegal: class is a keyword

SyntaxError: invalid decimal literal (<ipython-input-19-5a1ea2bbf78b>, line 3)

## Statements
A statement is a unit of code that the Python interpreter can execute. We have seen two kinds of statements: print and assignment.

In [20]:
print(1)
x = 2
print(x)

1
2

The variable x is assigned the value 10.
The variable y is assigned the value 5.
Assignment statements store the value on the right-hand side (10 and 5 in this case) into the variables on the left-hand side (x and y).

The assignment statement produces no output.

In [53]:
x = 10
y = 5

## Operators and Operands
Operators are special symbols that represent computations like addition and multiplication. The values the operator is applied to are called operands.
The operators +, -, *, /, and ** perform addition, subtraction, multiplication, division, and exponentiation, as in the following examples:

In [24]:
20 + 32
hour = 9
minute = 45
hour - 1
hour * 60 + minute
minute / 60
5 ** 2
(5 + 9) * (15 - 7)

112

In Python, only the last evaluated expression is shown by default in an interactive environment like Google Colab. If you want to display all the results, you need to explicitly print each one. You can do this by using the print() function for each expression.

In [25]:
print(20 + 32)
hour = 9
minute = 45
print(hour - 1)
print(hour * 60 + minute)
print(minute / 60)
print(5 ** 2)
print((5 + 9) * (15 - 7))

52
8
585
0.75
25
112

## Expressions
An expression is a combination of values, variables, and operators. A value all by itself is considered an expression, and so is a variable.

In [27]:
17
x = 5
print(x + 17)
print(1 + 1)

22
2

## Order of Operations
When more than one operator appears in an expression, the order of evaluation depends on the rules of precedence. The acronym PEMDAS is a useful way to remember the rules:
- **P**arentheses
- **E**xponentiation
- **M**ultiplication and **D**ivision
- **A**ddition and **S**ubtraction

Operators with the same precedence are evaluated from left to right.

In [28]:
2 * (3 - 1)

4

In [29]:
(1 + 1) ** (5 - 2)

8

In [30]:
2 ** 1 + 1

3

In [31]:
3 * 1 ** 3

3

In [32]:
2 * 3 - 1

5

In [33]:
6 + 4 / 2

8.0

In [34]:
5 - 3 - 1

1

## Modulus Operator
The modulus operator works on integers and yields the remainder when the first operand is divided by the second. In Python, the modulus operator is a percent sign (%).

In [35]:
quotient = 7 // 3
remainder = 7 % 3
print(quotient)
print(remainder)

2
1

## String Operations
The `+` operator works with strings, but it is not addition in the mathematical sense. Instead, it performs concatenation, which means joining the strings by linking them end to end. The `*` operator also works with strings by multiplying the content of a string by an integer.

In [36]:
first = 10
second = 15
print(first + second)

25

In [37]:
first = '100'
second = '150'
print(first + second)

100150

In [38]:
first = 'Test '
second = 3
print(first * second)

Test Test Test

In [39]:
# This will break!
print("Can't subtract" - "strings")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Types control what you can and can’t do with things. We know that a number is a number because we can add it to another number, or subtract it, or multiply it. We can add two strings together, but we cannot subtract them — this is one reason why a string and a number are different. So, another way of thinking about types is that they are a set of rules for what you can and can’t do with values.

## Asking the User for Input
Python provides a built-in function called `input` that gets input from the keyboard. When this function is called, the program stops and waits for the user to type something.

In [40]:
inp = input()
print(inp)

Python
Python

In [41]:
name = input('What is your name?\n')
print(name)

What is your name?
Lin
Lin

In [44]:
prompt = 'What...is the airspeed velocity of an unladen swallow?\n'
speed = input(prompt)
print(int(speed) + 5) # try with integer and string

What...is the airspeed velocity of an unladen swallow?
speed

ValueError: invalid literal for int() with base 10: 'speed'

## Comments
As programs get bigger and more complicated, they get more difficult to read. It is a good idea to add notes to your programs to explain in natural language what the program is doing.

In [45]:
# This is a comment
percentage = (minute * 100) / 60  # percentage of an hour
print(percentage)

75.0

## Choosing Mnemonic Variable Names
Choose variable names that help you remember what is stored in the variable.

In [46]:
hours = 35.0
rate = 12.50
pay = hours * rate
print(pay)

437.5

In [47]:
x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)

437.5

The Python interpreter sees all these programs as exactly the same but humans see and understand these programs quite differently. Humans will most quickly understand the intent of the first program because the programmer has chosen variable names that reflect their intent regarding what data will be stored in each variable.

## Debugging
At this point, the syntax error you are most likely to make is an illegal variable name, like `class` and `yield`, which are keywords, or `odd~job` and `US$`, which contain illegal characters.or trying to use a variable before you have assigned a value.

In [48]:
# Example of a NameError
principal = 327.68
interest = principle * rate  # Note the typo

NameError: name 'principle' is not defined

In [52]:
bad name = 5
# If you put a space in a variable name, Python thinks it is two operands without an operator:

SyntaxError: invalid syntax (<ipython-input-52-e55a2aa066b2>, line 1)

Variables names are case sensitive, so `LaTeX` is not the same as `latex`.